<ion-header>
    <ion-toolbar>
        <ion-title>Registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form action="" (submit)='onSubmitAddUser()'>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="email" id="email" aria-describedby="emailHelpId"> </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="">Nombre Completo</label>
            <textarea class="form-control" name="nombrecompleto" id="nombre" rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for="">Telefono</label>
            <textarea class="form-control" name="telefono" id="telefono" rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for="">Fecha de nacimiento</label>
            <textarea class="form-control" name="fecha_nacimiento" id="fecha" placeholder="DD-MM-YYYY" rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for="">Cedula</label>
            <textarea class="form-control" name="identificacion" id="cedula" rows="1"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Registrarme</button>

    </form>
</ion-content>