<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <form action="" (submit)="onSubmitLogin()">
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="email" id="email" aria-describedby="emailHelpId"> </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
    </form>

</ion-content>