<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form action="">
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelpId">

        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
    </form>
    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>

</ion-content>