<ion-header>
    <ion-toolbar>
        <ion-title>Discos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <button *ngIf="isLogin" [routerLink]="['/disco','nuevo']" type="button" class="btn">Nuevo</button>

    <ion-card *ngFor="let k of discos | keys">
        <ion-card-header>
            <ion-card-subtitle>{{discos[k].nombre}}</ion-card-subtitle>
            <ion-card-title>{{discos[k].autor}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p>{{discos[k].genero}}</p>
            <p>{{discos[k].album}}</p>
            <p>{{discos[k].fechalanzamiento}}</p>
        </ion-card-content>
        <ion-item>
            <ion-button *ngIf="isLogin" [routerLink]="['/disco', k]" fill="outline" color="success" slot="start">Editar</ion-button>
            <ion-button *ngIf="isLogin" (click)="eliminarDisco(k)" fill="outline" color="danger" slot="end">Eliminar</ion-button>
        </ion-item>
    </ion-card>

    <div *ngIf='(discos | keys).length === 0 && !loading' class="alert alert-info" role="alert">
        <strong>No hay</strong> discos para mostrar
    </div>
    <div *ngIf='loading' class="alert alert-warning" role="alert">
        <strong>Cargando</strong> discos para mostrar
    </div>

</ion-content>